<mat-toolbar style="background-color:#cbced2 ;">
    <span style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; color: #535454;">
        <mat-icon class="material-icons-two-tone">
            people_alt
        </mat-icon>
        Users Information
    </span>
    <div class="space"></div>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search"  (input)='searchUser($event)' placeholder="Search User ..." aria-label="Search">
    </form>
</mat-toolbar>